<div class="card search">
    <h1 class="search-headline">Products Lists</h1>
    <label class="search-label">
        <span *ngIf="query" [innerHTML]="'Selected product: '+query"></span>
    </label>
    <div>
        <span>
          <input type="text" [(ngModel)]="query" class="search-input" placeholder="type in to search for a product" />
        </span>
        <div>
          <div>
            <button class="btn" (click)='showAdd="true";'>Add product</button>
            <div *ngIf="showAdd">
             <add-product (add)="addNewProduct($event);showAdd=false;"> </add-product>
            </div>
          </div>
        </div>
      </div>
     
    <ul class="itemlist cf" *ngIf="query">
        <li class="itemlist-item cf" (click)="onProductClick(item); query=''" *ngFor="let item of products|search:query">
            <product-item class="content" [product]=item></product-item>
        </li>
    </ul>

    <product-details *ngIf="selectedProduct" [product]="selectedProduct">
    </product-details>